html{
	font-family: monospace;
	overflow-x: hidden;
}
body{
	background: var(--consoleColour01);
	color: var(--consoleColour15);
	margin: 0.5rem 0 0 0.5rem;
}
.default{
	--consoleColour01: #232627;
	--consoleColour02: #7f8c8d;
	--consoleColour03: #ed1515;
	--consoleColour04: #c0392b;
	--consoleColour05: #11d116;
	--consoleColour06: #1cdc9a;
	--consoleColour07: #f67400;
	--consoleColour08: #fdbc4b;
	--consoleColour09: #1d99f3;
	--consoleColour10: #3daee9;
	--consoleColour11: #9b59b6;
	--consoleColour12: #8e44ad;
	--consoleColour13: #1abc9c;
	--consoleColour14: #16a085;
	--consoleColour15: #fcfcfc;
	--consoleColour16: #ffffff;
}
.other{
	--consoleColour01: #46465c;
	--consoleColour02: #634560;
	--consoleColour03: #e95678;
	--consoleColour04: #ec6a88;
	--consoleColour05: #29d398;
	--consoleColour06: #3fdaa4;
	--consoleColour07: #fab795;
	--consoleColour08: #fbc3a7;
	--consoleColour09: #26bbd9;
	--consoleColour10: #3fc6de;
	--consoleColour11: #ee64ae;
	--consoleColour12: #f075b7;
	--consoleColour13: #59e3e3;
	--consoleColour14: #6be6e6;
	--consoleColour15: #fdf0ed;
	--consoleColour16: #ffffff;
}

/*Windows*/
.window{
	resize: both;
	overflow: auto;
	position: absolute;
	z-index: 4;
	min-height: 7.5em;
	min-width: 7.5em;
	background-color: var(--consoleColour01);
	/*border: 1px solid var(--consoleColour16);*/
	box-shadow: 0 0 1em black;
}
.windowHeader{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.5em;
	justify-content: space-between;
	cursor: move;
	z-index: 5;
	background-color: var(--consoleColour09);
	color: var(--consoleColour01);
	padding-inline-start: 0.5ch;
}
.windowClose{
	position: absolute;
	top: 0;
	right: 0;
	height: 1.5em;
	width: 1.5em;
	cursor: pointer;
	z-index: 6;
	background-color: var(--consoleColour03);
	stroke-width: 0.5rem;
	stroke: var(--consoleColour16);
	text-align: center;
	overflow: hidden;
}
.windowClose svg{
	transform-origin: center; 
	rotate: 45deg;
	stroke-dasharray: 70 70 70;
}
.windowContent{
	padding-block-start: 1.5em;
	height: calc(100% - 1.5em);
	width: 100%;
}
.pacman{
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pacman canvas{
	image-rendering: pixelated;
	aspect-ratio: 224/288;
	height: 100%;
}
/*Console*/
#console{
	display: flex;
	flex-direction: column;
}
#console span{
	word-break: break-all;
}
#console .nowrap{
	white-space: nowrap;
}
.neofetch{
	display: flex;
}
.neofetch img{
	image-rendering: pixelated;
	padding: 1ch 2ch 1ch 1ch;
	height: 30ch;
	aspect-ratio: 1/1;
}
.neofetch .icon{
	position: relative;
	padding: 0;
	padding-inline-end: 0.5ch;
	top: 2px;
	width: 1em;
	height: 1em;
}
pre{
	display: inherit;
	font-family: inherit;
	margin: inherit;
}
input{
	font-family: inherit;
	background: inherit;
	font-size: inherit;
	padding: inherit;
	border: inherit;
	color: inherit;
	outline: 0;
	width: 100%;
}
#console span:has(input){
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1ch;
}

/*Navbar*/
nav{
	position: fixed;
	z-index: 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	width: 4rem;
	top: 0;
	right: -5.5rem;
	height: calc(100% - 1rem);
	background: var(--consoleColour01);
	transition: right 500ms;
	border-radius: 1rem 0 0 1rem;
	filter: brightness(1.5);
}
nav:has(#hamburger[aria-expanded="true"]){
	right: 0;
}
nav div{
	position: relative;
	width: 4rem;
	background: var(--consoleColour02);
	stroke: var(--consoleColour16);
	aspect-ratio: 1/1;
	stroke-width: 0.5rem;
	overflow: hidden;
	border: none;
	border-radius: 0.5rem;
	right: 0;
	transition: filter 500ms;
	filter: brightness(calc(2 / 3));
}
nav div:hover{
	filter: brightness(0.8);
}
nav hr{
	margin: 0;
	border-radius: 1rem;
	background: var(--consoleColour16);
	border: var(--consoleColour16) solid 0.125rem;
	width: calc(100% - 0.5rem);
}
.theme{
	font-size: 0.6em;
	background: none;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	filter: brightness(1);
}

/* Hamburger */
#hamburger{
	transition: filter 500ms,
				right 500ms;
}
#hamburger[aria-expanded="false"]{
	right: 5.5rem;
}
#hamburger svg{ 
	transform-origin: center; 
	transition: 500ms ease-out; 
}
#hamburger[aria-expanded="true"] svg{ 
	rotate: 45deg; 
}
#hamburger path{
	stroke-dashoffset:	0;
	stroke-dasharray:	70 calc(0.5 * 20 * 3.1415)
						35 0
						35 calc(0.5 * 20 * 3.1415)
						70 1000;
	transition: 500ms ease-out;
}
#hamburger[aria-expanded="true"] path{
	stroke-dashoffset:	calc(-70 + (0.5 * -20 * 3.1415));
	stroke-dasharray:	35 0 
						35 calc(105 + (0.5 * 20 * 3.1415) + (0.5 * 15 * 3.1415))
						35 0
						35 1000;
}

/*Colours*/
.colour01{
	color: var(--consoleColour01);
}
.colour02{
	color: var(--consoleColour02);
}
.colour03{
	color: var(--consoleColour03);
}
.colour04{
	color: var(--consoleColour04);
}
.colour05{
	color: var(--consoleColour05);
}
.colour06{
	color: var(--consoleColour06);
}
.colour07{
	color: var(--consoleColour07);
}
.colour08{
	color: var(--consoleColour08);
}
.colour09{
	color: var(--consoleColour09);
}
.colour10{
	color: var(--consoleColour10);
}
.colour11{
	color: var(--consoleColour11);
}
.colour12{
	color: var(--consoleColour12);
}
.colour13{
	color: var(--consoleColour13);
}
.colour14{
	color: var(--consoleColour14);
}
.colour15{
	color: var(--consoleColour15);
}
.colour16{
	color: var(--consoleColour16);
}