*{
	color: var(--text, var(--consoleColour16));
	stroke: var(--text, var(--consoleColour16));
	background: var(--back, var(--consoleColour01));
	font-family: monospace;
}
*::selection{
	color: var(--back, var(--consoleColour16));
	background: var(--text, rgba(255, 255, 255, 0.3));
}
*::-moz-selection{
	color: var(--back, var(--consoleColour16));
	background: var(--text, rgba(255, 255, 255, 0.3));
}
body{
	image-rendering: pixelated;
	margin: 0;
	overflow-x: hidden;
}

/*Windows*/
.window{
	resize: both;
	overflow: auto;
	position: absolute;
	z-index: 4;
	min-height: 7.5em;
	min-width: 7.5em;
	background-color: var(--consoleColour01);
	box-shadow: 0 0 1em black;
}
::-webkit-resizer {
	display: none;
}
.window::after{
	content: "⇲";
	font-size: large;
	color: var(--consoleColour02);
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 3px;
}
.windowHeader{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.5em;
	justify-content: space-between;
	cursor: move;
	z-index: 5;
	background-color: var(--consoleColour09);
	color: var(--consoleColour01);
	padding-inline-start: 0.5ch;
}
.windowClose{
	position: absolute;
	top: 0;
	right: 0;
	height: 1.5em;
	width: 1.5em;
	cursor: pointer;
	z-index: 6;
	background-color: var(--consoleColour03);
	stroke-width: 0.5rem;
	stroke: var(--consoleColour16);
	text-align: center;
	overflow: hidden;
}
.windowClose svg{
	background: none;
	transform-origin: center; 
	rotate: 45deg;
	stroke-dasharray: 70 70 70;
}
.windowContent{
	margin-block-start: 1.5em;
	height: calc(100% - 1.5em);
	width: 100%;
}
.pacman{
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pacman canvas{
	aspect-ratio: 28/36;
	height: 100%;
}
.bezier canvas{
	aspect-ratio: 1/1;
	padding: 0.5em;
	height: calc(100% - 1.5em);
	width: calc(100% - 1em);
}
/*Console*/
#console{
	display: flex;
	flex-direction: column;
}
#console span{
	word-break: break-all;
}
.nowrap{
	white-space: nowrap;
}
.neofetch{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
}
@media (max-width: 700px) {
	.neofetch{
		grid-template-columns: min-content;
		grid-template-rows: auto 1fr;
	}
}
.neofetch img{
	height: 100%;
	width: 100%;
}
.neofetch .icon{
	position: relative;
	padding: 0;
	padding-inline-end: 0.5ch;
	top: 2px;
	width: 1em;
	height: 1em;
}
pre{
	display: inline;
	font-family: inherit;
	margin: inherit;
	width: fit-content;
}
input{
	font-family: inherit;
	background: inherit;
	font-size: inherit;
	padding: inherit;
	border: inherit;
	color: inherit;
	outline: 0;
	width: 100%;
}
#console span:has(input){
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1ch;
}

/*Navbar*/
nav{
	position: fixed;
	z-index: 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	width: 4rem;
	top: 0;
	right: -5.5rem;
	height: calc(100% - 1rem);
	background: var(--consoleColour01);
	transition: right 500ms;
	border-radius: 1rem 0 0 1rem;
	filter: brightness(1.5);
}
nav:has(#hamburger[aria-expanded="true"]){
	right: 0;
}
nav div{
	position: relative;
	width: 4rem;
	background: var(--consoleColour02);
	stroke: var(--consoleColour16);
	aspect-ratio: 1/1;
	stroke-width: 0.5rem;
	overflow: hidden;
	border: none;
	border-radius: 0.5rem;
	right: 0;
	transition: filter 500ms;
	filter: brightness(calc(2 / 3));
}
nav div:hover{
	filter: brightness(0.8);
}
nav hr{
	margin: 0;
	border-radius: 1rem;
	background: var(--consoleColour16);
	border: var(--consoleColour16) solid 0.125rem;
	width: calc(100% - 0.5rem);
}
.theme{
	font-size: 0.6em;
	stroke-width: 2rem;
	background: none;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	filter: brightness(1);
}
.theme path{
	stroke-dasharray:	0 calc(25 * 3.1414 / 8 * var(--r))
						calc(25 * 3.1416 / 8) 1000;
}
[data-rotation="1"] { --r: 0; }
[data-rotation="2"] { --r: 1; }
[data-rotation="3"] { --r: 2; }
[data-rotation="4"] { --r: 3; }
[data-rotation="5"] { --r: 4; }
[data-rotation="6"] { --r: 5; }
[data-rotation="7"] { --r: 6; }
[data-rotation="8"] { --r: 7; }
[data-rotation="9"] { --r: 8; }
[data-rotation="10"] { --r: 9; }
[data-rotation="11"] { --r: 10; }
[data-rotation="12"] { --r: 11; }
[data-rotation="13"] { --r: 12; }
[data-rotation="14"] { --r: 13; }
[data-rotation="15"] { --r: 14; }
[data-rotation="16"] { --r: 15; }

/* Hamburger */
#hamburger{
	transition: filter 500ms,
				right 500ms;
}
#hamburger[aria-expanded="false"]{
	right: 5.5rem;
}
#hamburger svg{ 
	background: none;
	transform-origin: center; 
	transition: 500ms ease-out; 
}
#hamburger[aria-expanded="true"] svg{ 
	rotate: 45deg; 
}
#hamburger path{
	stroke-dashoffset:	0;
	stroke-dasharray:	70 calc(0.5 * 20 * 3.1415)
						35 0
						35 calc(0.5 * 20 * 3.1415)
						70 1000;
	transition: 500ms ease-out;
}
#hamburger[aria-expanded="true"] path{
	stroke-dashoffset:	calc(-70 + (0.5 * -20 * 3.1415));
	stroke-dasharray:	35 0 
						35 calc(105 + (0.5 * 20 * 3.1415) + (0.5 * 15 * 3.1415))
						35 0
						35 1000;
}
