/*Theme Colours*/
:root{
    --off-screen: -24em;
    --gray0: #C9C9EE;
    --gray1: #9090b2;
    --gray2: #737394;
    --gray3: #565676;
    --gray4: #333149;
    --gray4-5: #2b293f;
    --gray5: #221e32;
    --gray6: #140f20;
    --light-highlight: #4d4d8a;
    --dark-highlight: #4d4d8a;
    --pastel: #D594CE;
}/*
.pastel{
    --gray0: #F4CCF0;
    --gray1: #D594CE;
    --gray2: #C573BE;
    --gray3: #B74FAD;
    --gray4: #8E367B;
    --gray4-5: #84306f;
    --gray5: #792A61;
    --gray6: #681A47;
    --link: #f061f5;
}
.light {
    --bg: var(--gray0);
    --bg-head: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-nav: linear-gradient(to right, var(--gray3), var(--gray4));
    --bg-dropdown: var(--gray2);
    --text: var(--gray5);
    --border-color: var(--light-highlight);
    --scrollbar: var(--dark-highlight);
    --selected: var(--important);
    --focus-item: var(--light-highlight);
    --shadow: rgba(0,0,0,0.5);
    --link: #306BAC;
    --codeblock: var(--gray1);

    /*Replace light theme with dark theme*//*
    --bg: var(--gray3);
    --bg-head: linear-gradient(to right, var(--gray4), var(--gray5));
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-nav: linear-gradient(to right, var(--gray6), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--dark-highlight);
    --scrollbar: var(--light-highlight);
    --selected: var(--important);
    --focus-item: var(--dark-highlight);
    --shadow: rgba(0,0,0,0.9);
    --link: #3066BE;
    --codeblock: var(--gray4);
}*/
.dark{
    --bg: #565676;
    --text: #C9C9EE;
    --focus-item: #4d4d8a;
    --important: magenta;
    --shadow: rgba(0,0,0,0.9);
    --link: #3066BE;
    --header-bg-main: #221e32;
    --header-bg-mid: #2b293f;
    --header-bg-high: #333149;
}
/*scrollbar*/
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--header-bg-main);
    margin-block: -0.25em;
}
::-webkit-scrollbar-thumb{
    background: var(--header-bg-mid);
    border-radius: 0.5em;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--focus-item);
}
/*General*/
* {
    transition: all 200ms ease-in-out;
    scrollbar-color: var(--light-highlight) var(--gray6);
    scrollbar-width: thin;
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background: var(--bg);
  overflow-y: scroll;
}
img{
    image-rendering: pixelated;
}
.no-pixel{
    image-rendering: auto;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  color: var(--link);
  text-decoration: inherit;
  display: flex;
  align-items: center;
}
header{
    min-height: 12em;
    padding: 1em;
    padding-top: 6em;
    position: relative;
    margin-bottom: 0em;
    padding-bottom: 3.5em;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2em), 50% 100%, 0% calc(100% - 2em));
    transition: all 0s;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(1rem, 5vw);
}
@media (max-width: 800px) {
    header {flex-direction: column;}
}
header h1,
header h2,
header p{
  filter: drop-shadow(0 0 0.25em var(--gray5));
}
main {
    padding: 1em;
}
/*Navbar*/
.navbar{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    height: 3.5em;
    width:100%;
    backdrop-filter: blur(5px) contrast(0.8);
    box-shadow: 0px 0px 10px var(--shadow);
    color: var(--text);
    font-weight: bold;
    z-index: 2;
    border-radius: 0 0 0.5em 0.5em;
}
.navbar:hover{
    height: 5em;
    border-radius: 0 0 1em 1em;
}
.logo{
    position:static;
    margin: 0.25em;
    margin-left: 0.75em;
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.nav-item{
    width: 12vw;
    display: flex;
    align-items: bottom;
    justify-content: center;
}
.nav-link{
  color: var(--link);
  flex-direction: column;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0;
}
.navbar:hover > .navbar-nav > .nav-item > .nav-link{
    font-size: 1em;
}
.icon{
    width: min(12vw, 40px);
    height: min(12vw, 40px);
    transition: all 0s;
}
/*Dropdowns*/
.dropdown{
    font-size: initial;
    --items: 1;
    height: calc(4em * var(--items));

    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--items), 1fr);
}
[data-items="1"] {--items: 1;}
[data-items="2"] {--items: 2;}
[data-items="3"] {--items: 3;}
.has-dropdown:focus-within .dropdown{
    transform: translateY(0);
    pointer-events: auto;
}
.dropdown-item{
    display:flex;
    align-items: center;
}
.dropdown-item a {
    font-size: 1em;
    font-weight: bold;
    color: var(--link);
}
.dropdown-item div,
.dropdown-item button {
    color: var(--link);
    background: transparent;
    border: 0;
    text-decoration: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 0em;
    font-size: 1em;
    font-weight: bold;
    color: var(--link);
}
/*Theme Icons*/
.icon-theme{
    width: 2em;
    height: 2em;
    color: var(--link);
    border: 2px solid var(--border-color);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.75em;
    padding: 0.25em;
}
.dropdown-item.theme-light svg{
    background: var(--gray0);
    color: var(--gray0);
}
.dropdown-item.theme-dark svg{
    background: var(--gray5);
    color: var(--gray5);
}
.dropdown-item.theme-pastel svg{
    background: var(--pastel);
    color: var(--pastel);
    border-radius: 25%;
}
.light .dropdown-item.theme-light svg{
    border-color: var(--important);
    color: var(--important);
}
.dark .dropdown-item.theme-dark svg{
    border-color: var(--important);
    color: var(--important);
}
.pastel .dropdown-item.theme-pastel svg{
    border-color: var(--important);
    color: var(--important);
}
/*main-content navigator*/
.skip-to-main{
    left: 2em;
    height: 3em;

    grid-template-columns: auto auto;
    grid-template-rows: 1fr;

    font-weight: bolder;
    text-decoration: underline;
    color: var(--important);
}
/*Off screen*/
.offscreen{
    position: absolute;
    top: 6em;
    width: 12em;
    border-radius: 1em;
    transform: translateY(var(--off-screen));

    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    padding: 0.75em;

    background: #353141;
    box-shadow: 0px 0px 10px var(--shadow);
    overflow: hidden;
    z-index: -1;
}
.offscreen:focus-within{
    transform: translateY(0);
}
/*Content Items*/
.content-list{
    display: grid;
    grid-template-columns: 1fr;
}
.content-item{
    padding: 1rem;
    width: calc(100% - 2rem);
    background: var(--focus-item);
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(2px 5px 5px var(--shadow));
    height: 2.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
    padding-bottom: 1.75rem;
    margin-bottom: -0.75rem;
}
.content-list:not(:hover) .content-item:nth-child(1),
.content-item:hover{
    height: 8rem;
}
.content-item img{
    height: 100%;
    aspect-ratio: 1/1;
}
.content-item a{
    text-decoration: underline;
    height: 2.5em;
}
.content-item p{
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 0.2s;
}
.content-list:not(:hover) .content-item:nth-child(1) p,
.content-item:hover p{
    opacity: 1;
    transition-delay: 0s;
}
@media (hover: none){
    .content-item{
        height: 8rem;
    }
    .content-item p{
        opacity: 1;
    }
}