/*header{
    --top: var(--header-bg-main);
    --right: var(--header-bg-mid);
    --left: var(--header-bg-high);
    --pos1: min(20vw, 5em);
    --pos2: calc(var(--pos1) / 8 * 14);
    background: linear-gradient(30deg, var(--top) 12%, transparent 12.5%, transparent 87%,  var(--top) 87.5%,  var(--top)),
    linear-gradient(150deg,  var(--top) 12%, transparent 12.5%, transparent 87%,  var(--top) 87.5%,  var(--top)),
    linear-gradient(30deg,  var(--top) 12%, transparent 12.5%, transparent 87%,  var(--top) 87.5%,  var(--top)),
    linear-gradient(150deg,  var(--top) 12%, transparent 12.5%, transparent 87%,  var(--top) 87.5%,  var(--top)),
    linear-gradient(60deg,  var(--left) 25%, transparent 25.5%, transparent 75%, var(--left) 75%, var(--left)),
    linear-gradient(60deg, var(--left) 25%, transparent 25.5%, transparent 75%, var(--left) 75%, var(--left));
    background-color: var(--right);
    background-size: var(--pos1) var(--pos2);
    background-position: 50vw 0, 50vw 0, calc(50vw + var(--pos1) / 2) calc(var(--pos2) / 2), calc(50vw + var(--pos1) / 2) calc(var(--pos2) / 2), 50vw 0, calc(50vw + var(--pos1) / 2) calc(var(--pos2) / 2);
}*/
header{
    background-image: url(icons/BGFlowers.png);
}