header{
  --bg: var(--header-bg-main);
  --comb: var(--header-bg-high);
  --width: min(12vw, 10em);
  --height: calc(var(--width) / 2 * 3);
  background:
  radial-gradient(circle farthest-side at 0% 50%, var(--bg  ) 23%, transparent 0) calc(50vw + var(--width) / 40 * 21) calc(1em + var(--height) / 2),
  radial-gradient(circle farthest-side at 0% 50%, var(--comb) 23%, transparent 0) calc(50vw + var(--width) / 40 * 19) calc(1em + var(--height) / 2),
  linear-gradient(  0deg, var(--bg  ) 15%, transparent 0, transparent 85%, var(--bg  ) 0) 50vw 1em,
  linear-gradient(150deg, var(--bg  ) 24%, var(--comb) 0, var(--comb) 26%, transparent 0, transparent  74%, var(--comb) 0, var(--comb) 76%, var(--bg  ) 0) 50vw 1em,
  linear-gradient( 30deg, var(--bg  ) 24%, var(--comb) 0, var(--comb) 26%, transparent 0, transparent  74%, var(--comb) 0, var(--comb) 76%, var(--bg  ) 0) 50vw 1em,
  linear-gradient( 90deg, var(--comb)  2%, var(--bg  ) 0, var(--bg  ) 98%, var(--comb) 0) 50vw 1em;
  background-size: var(--width) var(--height);
}