/*header{
    --thick: var(--header-bg-high);
    --thin: var(--header-bg-high);
    --bg: var(--header-bg-main);
    --bgSize: 5em;
    background: 
    linear-gradient( 0deg, var(--thick) 5%, transparent 5%),
    linear-gradient(90deg, var(--thick) 5%, transparent 5%),
    linear-gradient( 0deg, var(--thin ) 5%, transparent 5%),
    linear-gradient(90deg, var(--thin ) 5%, transparent 5%);
    background-color: var(--bg);
    background-size: var(--bgSize) var(--bgSize),
                     var(--bgSize) var(--bgSize),
                     calc(var(--bgSize) / 5) calc(var(--bgSize) / 5),
                     calc(var(--bgSize) / 5) calc(var(--bgSize) / 5);
    background-position: center;
}*/
header{
    background-image: url(icons/BGNether.png);
}