main{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
canvas{ 
    aspect-ratio: 224 / 288;
    height: 100%;
    image-rendering: pixelated;
}
button{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    font-size: x-large;
    color: cyan;
    background: red;
}