main {
    margin: 10px;
}
header{
  background: var(--bg-head);
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);
}
/*.loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background:black;
  z-index: 100;
  transition: 0.5s background-color 0.2s ease-in-out, 0.7s z-index;
}*/
.logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--border-color);
    filter: drop-shadow(5px 10px 10px var(--shadow));
}