header{
    min-height: 0;
    padding: 0;
    height: 5rem;
    clip-path: none;
}
.navbar-nav{
    justify-content: space-between;
}
.nav-item{
    width: 7.5rem;
    height: 5rem;
}
.icon{
    height:2rem;
    width:2rem;
}
main{
    padding: 0;
    height: calc(100vh - 5rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
@media (max-width: 1200px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
*{
    transition: all 0s;
}
#blocklyDiv{
    position: absolute;
}
.blocklyCode{
    margin: 0;
    background:var(--gray4);
    display: grid;
    grid-template-columns: 2em 2px 1fr;
}
#blocklyCodeNums{
    padding-top: 0.5em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.codeNumLine{
    background: var(--gray3);
}
#blocklyCode{
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}


.blocklyToolboxDiv{
    background: var(--gray5);
    width: min(8rem);
}
.blocklyFlyout{
    z-index: 0;
    max-width: calc(50% - 8rem);
    background: var(--gray4) !important;
    border-radius: 0 0.5rem 0.5rem 0;
}
.blocklyFlyoutBackground{display: none;}
.blocklyTreeRowContentContainer{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.blocklyTreeRow {
    padding: 0.25rem;
    margin: 0.25rem;
    margin-left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
}
.blocklyTreeRow:hover {
    background: var(--gray4) !important;
}
.blocklyTreeRow.blocklyTreeSelected {
    background: var(--gray3) !important;
}
.blocklyTreeSeparator{
    height: 0.25rem;
    border-radius: 1rem;
    background: var(--gray4);
    border-bottom: none;
    margin: 0.25rem 0.25rem;
}
.blocklyTreeLabel {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text) !important;
}
.blocklyTreeSelected .blocklyTreeLabel {
    font-weight: bolder;
}
.blocklyTreeIcon {align-self: center;}
.blocklyTreeIconClosed {
    background: var(--gray1);
    clip-path: polygon(10% 10%, 90% 50%, 10% 90%);
}
.blocklyTreeIconOpen {
    background: var(--gray1);
    clip-path: polygon(90% 10%, 50% 90%, 10% 10%);
}
.blocklyMainBackground{
    stroke: transparent !important;
}
.blocklySvg{
    background: var(--gray3) !important;
}
.blocklySvg:first-child{
    display: initial !important;
}
.blocklyWorkspace{
    background: var(--gray3) !important;
}
.blocklyScrollbarBackground{
    z-index: 1;
    fill: var(--gray5) !important;
    opacity: initial;
}
.blocklyScrollbarHandle{
    fill: var(--scrollbar) !important;
    rx: 0.5rem;
    ry: 0.5rem;
}
.blocklyMainWorkspaceScrollbar{
    background: var(--gray5) !important;
    /*background: red !important;*/
}
.blocklyTrash{display: none;}