header{
    min-height: 0;
    padding: 0;
    height: 5rem;
    clip-path: none;
}
body{
    overflow-y: auto;
}
.navbar-nav{
    justify-content: space-between;
}
.nav-item{
    width: 7.5rem;
    height: 5rem;
}
.icon{
    height:2rem;
    width:2rem;
}
main{
    padding: 0;
    height: calc(100vh - 5rem);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
@media (max-width: 1200px){
    main{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}
*{
    transition: all 0s;
}
#blocklyDiv{
    position: absolute;
}

.blocklyCode{
    margin: 0;
    background:var(--gray4);
    display: grid;
    grid-template-columns: 2rem 2px 1fr;
    grid-template-columns: 1fr;
    /*height: calc(50vh - 2.5rem);*/
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.copy{
    content: "";
    position: absolute;
    margin: 0;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem var(--shadow);
    height: 3rem;
    width: 3rem;
    bottom: 2rem;
    right: 2rem;
    color: var(--link);
    background: var(--gray6);
}
.copy:hover{ background: var(--gray5); }
.copy:active{ background: var(--gray4); }
@font-face {
    font-family: CascadiaCode;
    src: url(../../common/fonts/CascadiaCode.woff2);
}  
#blocklyCode{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    white-space: initial;
    font-size: small;
    /*height: calc(50vh - 5rem);*/
}


.blocklyToolboxDiv{
    background: var(--gray5);
    width: min(8rem);
    z-index: 1;
}
.blocklyFlyout{
    z-index: 0;
    max-width: calc(50% - 8rem);
    background: var(--gray4) !important;
    border-radius: 0 0.5rem 0.5rem 0;
}
.blocklyFlyoutBackground{display: none;}
.blocklyTreeRowContentContainer{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.blocklyTreeRow {
    padding: 0.25rem;
    margin: 0.25rem;
    margin-left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
}
.blocklyTreeRow:hover {
    background: var(--gray4) !important;
}
.blocklyTreeRow.blocklyTreeSelected {
    background: var(--gray3) !important;
}
.blocklyTreeSeparator{
    height: 0.25rem;
    border-radius: 1rem;
    background: var(--gray4);
    border-bottom: none;
    margin: 0.25rem 0.25rem;
}
.blocklyTreeLabel {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text) !important;
}
.blocklyTreeSelected .blocklyTreeLabel {
    font-weight: bolder;
}
.blocklyTreeIcon {align-self: center;}
.blocklyTreeIconClosed {
    background: var(--gray1);
    clip-path: polygon(10% 10%, 90% 50%, 10% 90%);
}
.blocklyTreeIconOpen {
    background: var(--gray1);
    clip-path: polygon(90% 10%, 50% 90%, 10% 10%);
}
.blocklyMainBackground{
    stroke: transparent !important;
}
.blocklySvg{
    background: var(--gray3) !important;
}
.blocklySvg:first-child{
    display: initial !important;
}
.blocklyWorkspace{
    background: var(--gray3) !important;
}
.blocklyScrollbarBackground{
    z-index: 1;
    fill: var(--gray5) !important;
    opacity: initial;
}
.blocklyScrollbarHandle{
    fill: var(--scrollbar) !important;
    rx: 0.5rem;
    ry: 0.5rem;
}
.blocklyMainWorkspaceScrollbar{
    background: var(--gray5) !important;
    z-index: 1;
}

.linenums{
    background:#1e1e1e;
}
.linenums li{
    list-style-type: decimal-leading-zero !important;
    list-style-type: decimal !important;
}
.linenums li:nth-child(n){
    background: #1e1e1e;
    counter-increment: level1;
    font-family: CascadiaCode !important;
}
.linenums li:nth-child(n)::marker{
    color: #2b91af !important;
    content: counter(level1) "  ";
}

.kwd{
    color: #569cd6 !important;
    font-family: CascadiaCode !important;
}
.pln{
    color: #dcdcdc !important;
    font-family: CascadiaCode !important;
}
.pun{
    color: #b4b4b4 !important;
    font-family: CascadiaCode !important;
}
.str{
    color: #d69d85 !important;
    font-family: CascadiaCode !important;
}
.lit{
    color: #b5cea8 !important;
    font-family: CascadiaCode !important;
}
.typ{
    color: #4ec9b0 !important;
    font-family: CascadiaCode !important;
}
.com{
    color: #57a64a !important;
    font-family: CascadiaCode !important;
}