header{
    --thick: var(--gray4);
    --thin: var(--gray4);
    --bg: var(--gray5);
    --bgSize: 5em;
    background: 
    linear-gradient( 0deg, var(--thick) 5%, transparent 5%),
    linear-gradient(90deg, var(--thick) 5%, transparent 5%),
    linear-gradient( 0deg, var(--thin ) 5%, transparent 5%),
    linear-gradient(90deg, var(--thin ) 5%, transparent 5%);
    background-color: var(--bg);
    background-size: var(--bgSize) var(--bgSize),
                     var(--bgSize) var(--bgSize),
                     calc(var(--bgSize) / 5) calc(var(--bgSize) / 5),
                     calc(var(--bgSize) / 5) calc(var(--bgSize) / 5);
    background-position: center;
}

.thumbnail{
    width: min(8em, 30vw);
    height: min(8em, 30vw);
}
h2{
    margin-top:0;
    margin-bottom:0.25em;
    font-size: min(1.25rem, 10vw);
}
p{
    margin-bottom: 1rem;
    font-size: min(1rem, 7vw);
}
h5{
    margin: 0;
    font-size: min(0.75rem, 5vw);
    color: #ff5555;
}
.no-lua{
    color: #55ff55;
}

.tutorial-list{
    display: grid;
    justify-items: center;
    column-gap: 0.75em;
    row-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-content: center;
}
.tutorial{
    margin: 1rem;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: 8rem;
    background: var(--focus-item);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(2px 5px 5px var(--shadow));
}
.tutorial span{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
.tutorial a{
    text-decoration: underline;
}
.tutorial p{
    margin: 0;
}