main {
    margin: 10px;
}
header{
  background: var(--bg-head);
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);
  display: flex;
  justify-content: center;
}
h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--important);
    filter: drop-shadow(0px 0px 2px var(--important));
}
h4{
    margin-top: 15px;
    margin-bottom: 0;
    color: var(--text);
    filter: drop-shadow(0px 0px 2px var(--shadow));
}
p{
    margin-top: 10px;
    margin-bottom: 0;
}
.thumbnail{
    width: 150px;
    height: 150px;
    filter: drop-shadow(2px 5px 5px var(--shadow));
}
.title{
    width: 500px;
}
.step{
    padding: 10px;
    margin-bottom: 20px;
    background: var(--focus-item);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 5px 5px var(--shadow));
}
.final{
    align-items: center;
    font-size: larger;
}
.substep{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.substep span{
    margin-right: 10px;
    width: 100vw;
}
.substep img{
    width: min(300px, 50vw);
    height: auto;
}
.codeblock{
    margin-top: 5px;
    padding: 5px;
    background: var(--codeblock);
}
p a{
    color: var(--link);
    text-decoration: underline;
    display:inline;
    margin-right: 0;
}