main{
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
canvas{ 
    width: 90vw;
    height: calc(90vh - 6em);
    background: black;
}
button{
    margin-top: 1em;
    width: 5em;
    height: 2em;
    font-size: x-large;
    color: cyan;
    background: red;
}